langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-text-splitters
pypdf
pymupdf
faiss-cpu
fastapi
uvicorn
streamlit
python-dotenv
pydantic
requests
gTTS
beautifulsoup4
python-docx
python-multipart
rank_bm25